
.section {
  padding: 24px;  
}
.exampleContainer {
  padding: 24px;
  display: flex;

}
.exampleTitle {
  flex: 0 0 100%;
}
.code {
  flex: 1;
  margin: 0px 24px;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.demo {
  flex: 1;
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.darkBackground {
  background-color: #444444;
}
.sparkleTarget {
  position: relative;
  border: 4px solid #00bdbd;
  background: teal;
  width: 200px;
  height: 200px;
}
